<div ng-cloak ng-controller="menadzerRestoranaCtrl">
	<div>
		<h1>Pozdrav menadzere</h1>
	</div>

	<div>
		<div>
			<div id="tabs">
				<ul>
					<li ng-class="{active: isSet(0)}"><a ng-click="setTab(0)"
						href=""><span>O restoranu</span></a></li>
					<li ng-class="{active: isSet(1)}"><a ng-click="setTab(1)"
						href=""><span>Zaposleni</span></a></li>
					<li ng-class="{active: isSet(2)}"><a ng-click="setTab(2)"
						href=""><span>Ponude i ponudjaci</span></a></li>
					<li ng-class="{active: isSet(3)}"><a ng-click="setTab(3)"
						href=""><span>Izvestaj o poslovanju restorana</span></a></li>
				</ul>
			</div>

			<div ng-show="isSet(0)">
				<h2>Podaci o restoranu</h2>
				</br>
				<label>Naziv restorana: </label> <input type="text" ng-model="restoran.naziv"> <a ng-click="izmenaNazivaRestorana(restoran)" href="">Izmeni</a>
				
				</br>
				<label>Opis restorana: </label> <input type="text" ng-model="restoran.opis"> <a ng-click="izmenaOpisaRestorana(restoran)" href="">Izmeni</a>
				
				</br>
				<label>Jelovnik: </label> </br>
				<ul>
				<li ng-repeat="jelo in jela"> {{jelo.naziv}}  {{jelo.opis}}  {{jelo.cena}} <a ng-click="izmenaJela(jelo.id)" href="">Izmeni</a> <a ng-click="odbrisiJelo(jelo.id)" href="">Obrisi</a></li>
				</ul>
				<label>Dodaj novo jelo: </label> </br>
				<table>
				<tr>
					<td>Naziv:</td>
					<td><input type=text ng-model="nazivJela"></td>
				<tr>
				<tr>
					<td>Opis:</td>
					<td><input type=text ng-model="opisJela"></td>
				<tr>
				<tr>
					<td>Cena:</td>
					<td><input type="number" ng-model="cenaJela"></td>
				<tr>
				</table>
				<button ng-click="dodajJelo(restoran)">Dodaj</button>
				
				</br>
				<label>Karta pica: </label> </br>
				<ul>
				<li ng-repeat="pice in pica"> {{pice.naziv}}  {{pice.opis}}  {{pice.cena}} <a ng-click="izmenaPice(pice.id)" href="">Izmeni</a> <a ng-click="odbrisiPice(pice.id)" href="">Obrisi</a></li>
				</ul>
				<label>Dodaj novo pice: </label> </br>
				<table>
				<tr>
					<td>Naziv:</td>
					<td><input type=text ng-model="nazivPica"></td>
				<tr>
				<tr>
					<td>Opis:</td>
					<td><input type=text ng-model="opisPica"></td>
				<tr>
				<tr>
					<td>Cena:</td>
					<td><input type="number" ng-model="cenaPica"></td>
				<tr>
				</table>
				<button ng-click="dodajPice(restoran)">Dodaj</button>
				
				</br>
				<label>Konfiguracija sedenja: </label> </br></br>
				
				<h2>Stolovi po redu/koloni:</h2>
				<table>
					<tr>
						<td>Broj redova:</td>
						<td><input type="number" ng-model="brojRedova"></td>
					</tr>
					
					<tr>
						<td>Broj kolona:</td>
						<td><input type="number" ng-model="brojKolona"></td>
					</tr>
				</table>
				<button ng-click="napraviKonfiguraciju(restoran)">Kreiraj</button>
				
				<div>
					<h2>Raspored stolova:</h2>
					<table border="1">
						<tr ng-repeat="n1 in brRedova">
							<td ng-repeat="n2 in brKolona">
								<button ng-click="prikaziInformacije(n1*n1+n2)">{{n1}}-{{n2}}</button>
							</td>
						</tr>
					</table>
					<!--<div ng-show="isVisible(sto.oznaka)" ng-model="sto.oznaka">
       					<h2>dasdsdasdadasdasd {{sto.oznaka}}</h2>
       				</div> -->
				</div>
			</div>

			<div ng-show="isSet(1)">
				 <div>
					<h2>Dodaj radnika</h2>
					<table>
						<tr>
							<td>Tip:</td>
							<td><select ng-model="tipRadnika">
									<option selected="selected" value="konobar">Konobar</option>
									<option value="kuvar">Kuvar</option>
									<option value="sanker">Sanker</option>
							</select></td>
						<tr>
						<tr>
							<td>Ime:</td>
							<td><input type=text ng-model="imeRadnika"></td>
						<tr>
						<tr>
							<td>Prezime:</td>
							<td><input type=text ng-model="prezimeRadnika"></td>
						<tr>
						<tr>
							<td>Email:</td>
							<td><input type=text ng-model="emailRadnika"></td>
						<tr>
						<tr>
							<td>Lozinka:</td>
							<td><input type=text ng-model="lozinkaRadnika"></td>
						<tr>
						<tr>
							<td>Datum rodjenja:</td>
							<td><input type="date" ng-model="datumRadnika"></td>
						<tr>
						<tr>
							<td>Konfekcijski broj:</td>
							<td><input type=text ng-model="konfBrRadnika"></td>
						<tr>
						<tr>
							<td>Velicina obuce:</td>
							<td><input type=text ng-model="velObRadnika"></td>
						<tr>
					</table>
					<button ng-click="dodajRadnika()">Dodaj</button>
				</div>
				
				<div>
					<h2>Raspored rada</h2>
				</div>
				
				<div>
					<h2>Dodela reona za konobare</h2>
				</div>
			</div>

			<div ng-show="isSet(2)">
				<h2>Dodaj ponudjaca</h2>
				<table>
					<tr>
						<td>Ime:</td>
						<td><input type=text ng-model="imePonudjaca"></td>
					<tr>
					<tr>
						<td>Prezime:</td>
						<td><input type=text ng-model="prezimePonudjaca"></td>
					<tr>
					<tr>
						<td>Email:</td>
						<td><input type=text ng-model="emailPonudjaca"></td>
					<tr>
					<tr>
						<td>Lozinka:</td>
						<td><input type=text ng-model="lozinkaPonudjaca"></td>
					<tr>
				</table>
				<button ng-click="dodajPonudjaca()">Dodaj</button>
				
				</br>
				<h2>Moje ponude:</h2></br>
				<label>Prikupljanje aktivno od: </label> <input type="date" ng-model="datumOd"> </br>
				<label>Prikupljanje aktivno do: </label> <input type="date" ng-model="datumDo"> </br>
				<!-- <ul>
				<li ng-repeat="pon in ponude"> {{pon.aktivnoOd}} {{pon.aktivnoDo}} </li>
				</ul> -->
				
				</br>
				<h2>Lista pristiglih ponuda</h2>
			</div>

			<div ng-show="isSet(3)">
				<h2>Izvestaj....</h2>
			</div>

		</div>

	</div>

</div>
