<div ng-cloak ng-controller = "menSistemaCtrl">
	<div>
		<h1>Menadzer sistema</h1>
	</div>

	<div>
		<div id="tabs">
			<ul>
				<li ng-class="{active: isSet(0)}"><a ng-click="setTab(0)"
					href=""><span>Registruj restoran</span></a></li>
				<li ng-class="{active: isSet(1)}"><a ng-click="setTab(1)"
					href=""><span>Registruj menadzera restorana</span></a></li>
			</ul>
		</div>
		
		<div ng-show="isSet(0)">
			<h2>Registruj restoran</h2>
			
			<div >
				<h2>Unesite podatke o restoranu:</h2>
				<table>
					<tr>
						<td> Naziv:	</td>
						<td><input type = text ng-model = "nazRes"></td>
					<tr>
					
					<tr>
						<td> Opis:	</td>
						<td><input type = text ng-model = "opisRes"></td>
					<tr>
				</table>
				<button  ng-click="registrujRestoran()">Registruj</button>
			</div>
		</div>
		
		<div ng-show="isSet(1)">
			<div >
				<h2>Unesite podatke o menadzeru restorana:</h2>
				<table>
					<tr>
						<td> Ime:	</td>
						<td><input type = text ng-model = "imeMR"></td>
					<tr>
					
					<tr>
						<td> Prezime:	</td>
						<td><input type = text ng-model = "prezimeMR"></td>
					<tr>
					<tr>
						<td> Email:	</td>
						<td><input type = text ng-model = "emailMR"></td>
					<tr>
					
					<tr>
						<td> Sifra:	</td>
						<td><input type = text ng-model = "sifraMR"></td>
					</tr>
					<tr>
						ovde ce da bira restorane

					</tr>
				</table>
				<button  ng-click="registrovanje()">Registruj se </button>
			</div>
		</div>	
	</div>
</div>

